<html>
<head>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Sign In : Online examination portal</title>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="css/dashboard.css">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>
<body>
<script src="Javascript/dashboard.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.8/angular-material.min.js"></script>

<div ng-app="myApp" ng-controller="AppCtrl" ng-cloak layout="column" layout-align="center center" layout-padding>
  <form ng-submit="startTest()">
    <p>
      Please select subject to appear for test and click on "START TEST"
    </p>
	<div layout="row" layout-align="start" flex>
     	 <md-input-container flex="50">
        		<label>Select Subject</label>
        			<md-select name="selectSubject" ng-model="favoriteColor" required>
          				<md-option value="1">Java</md-option>
          				<md-option value="2">C#</md-option>
          				<md-option value="3">Python</md-option>
        			</md-select>
        <div class="errors" ng-messages="myForm.favoriteColor.$error">
          <div ng-message="required">Required</div>
        </div>
      </md-input-container>
    </div>

	<div layout="row" layout-align="end" flex>
      	<md-button ng-click="clearValue()" ng-disabled="!(quest || favoriteColor)">Clear</md-button>
      	<md-button type="submit" class="md-primary">Start Test</md-button>
    </div>
  </form>
</div>

</body>
</html>